 <%- include('header'); -%>
<h2>Hi my name is Deepak Suthar</h2>
<p>gvwfb  qwdhcb  usc gu iuh fqhch  c fbwbc jhsdbcjksdcbvshd bibwd hbwd hi bwd  hi iwhdhw bhibvuh uh bifeh efbh
 h bfjhfjhefj</p>
<%- include('footer'); -%>
